/*Default*/
nav, 
header, 
footer {
    display: block;
}


body {
    background-color: #1E1E1E;
    line-height: 1;
    margin: 0;
}

p {
    font-size: 28px;
    line-height: 1.2;
}

article p{
    font-size: 35px;
    padding: 10px;
}

label {
    font-size: 2; 
}

.container{
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after{
    display: table;
    clear: both;
    content: "";
}

:root {
    --primary: #012593;
    --secondary: #59008d;
    --dark: #212121;
    --light: #F3F3F3;
}

.card {
    margin: 100px auto 0;
    width: 10vw;
    height: 15vw;
    perspective: 1000px;
  }
  
  .card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }
  
  .card__inner.is-flipped {
    transform: rotateY(180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 2vw;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  }
  
  .card__face--front {
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    display: flex;
    padding: 14px;
    align-items: top ;
    justify-content: center;
  }
  
  .card__face--front h2 {
    color: #FFF;
    font-size: 1.2vw;
  }
  
  .card__face--back {
    background-color: var(--light);
    transform: rotateY(180deg);
  }
  
  .card__content {
    width: 100%;
    height: 100%;
  }
  
  .card__header {
    position: relative;
    padding: 30px 30px 40px;
  }
  
  .card__header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
    z-index: -1;
    border-radius: 0px 0px 50% 0px;
  }
  
  .pp {
    display: block;
    width: 128px;
    height: 128px;
    margin: 0 auto 30px;
    border-radius: 50%;
    background-color: #FFF;
    border: 5px solid #FFF;
    object-fit: cover;
  }
  
  .card__header h2 {
    color: #FFF;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
  }
  
  .card__body {
    padding: 30px;
  }
  
  .card__body h3 {
    color: var(--dark);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .card__body p {
    color: var(--dark);
    font-size: 18px;
    line-height: 1.4;
  }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

* {
    box-sizing: border-box;
    padding:0;
    margin: 0;
}

/*################################ Nav Bar*/
nav {
    width: 100%;
    margin: 0;
}

nav ul.topnav {
    background-color: #36454F;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex; /* Flex container */
    justify-content: space-between; /* Space between items */
    list-style: none;
}

/* Left-aligned item */
nav ul.topnav > li:first-child {
    margin-right: auto; /* Push everything else to the right */
}

.nav-center-group {
    display: flex;
    justify-content: center; /* Center items */
    flex-grow: 1; /* Allow to grow to use available space */
    /* No need to specify padding for li here as it's handled by the a tags */
}

/* Style a tags directly within .nav-center-group */
.nav-center-group a {
    padding: 0; /* Adjust space between the center items */
}

/* Right-aligned item */
nav ul.topnav > li:last-child {
    margin-left: auto; /* Push to the right */
}

/* List items */
nav ul.topnav li {
    list-style: none;
}

/* Links */
nav ul.topnav li a {
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: capitalize;
    color: #FFFDD0;
}

nav ul.topnav li a:hover {
    background-color: #4682B4;
}

/* Dropdown icon */
ul.topnav li.dropdownIcon {
    display: none;
}

/*##################### Style #################*/
#sect-1{
    background: linear-gradient(45deg, #1c2052, #410e6b, #502570);
}

div.slopeIcon img {
    display: block;
    margin: auto;
    box-shadow:#1E1E1E;
}

button {
    font-size: 32px;
    font-weight: 700;   
    color: #FFF;
    background-color: #0069ff;
    padding: 15px 60px;
    display: block;
    text-align: center;
    margin: 1vw ;
    border-radius: 7px;
}

button.LearnMore {
    display: block;
    margin: auto;
}

div.leftSide-col{
    margin-left:3%
}

div.rightSide-col{
    margin-left:15%;
}

.imageA {
    max-width: 100%;
    height: auto;
}

h1.Project{
    font-size: 65px;
    text-align: center;
}

h1.large {
    color: #FFF;
    font-weight: lighter;
    font-size: 80px;
    margin: 20;
    line-height: 70px;
}
h1.large2 {
    color: #FFF;
    font-weight: lighter;
    font-size: 80px;
    margin: 0;
    margin-left: 30%;
    line-height: 70px;
}

h1.Project {
    font-size: 4vw; /* Adjust the value as needed */
}


div.box {
    text-align: center;
    margin: 24px;
    padding: 24px 24px 40px 24px;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15), 0 2px 3px 0 rgba(0, 0, 0, .1);
}
div.Icon img{
    max-width: 100%;
    height: auto;
}

h2.small {
    color:#502570;
    font-weight: 100;
    font-size: 20px;
    margin-left: 70%;
}

/*################################ Mobile Design */
@media screen and (max-width: 680px) {
    /* Set the flex direction of the top navigation to column to stack items vertically */
    nav ul.topnav {
        flex-direction: column;
        align-items: flex-start; /* Align items to the start */
    }

    /* Initially hide all list items except the first and the dropdown icon */
    nav ul.topnav > li:not(:first-child):not(.dropdownIcon) {
        display: none;
    }
    .imageA{
        display: none;
    }

    /* Ensure the dropdown icon is displayed and positioned correctly */
    nav ul.topnav > li.dropdownIcon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    nav ul.topnav.responsive li a {
        display: block;
        margin: 0;
    }

    /* Correct positioning of the dropdown icon in the responsive menu */
    nav ul.topnav.responsive > li.dropdownIcon {
        position: absolute; /* Reset position */
        top: 0;
        right: 0;
    }

    /* When the 'responsive' class is added to the topnav (when dropdown is clicked) */
    nav ul.topnav.responsive {
        position: relative;
    }

    nav ul.topnav.responsive > li:not(:first-child) {
        display: inline; /* Show the list items */
        float: none; /* Full width */
    }

    h1.Project{
        font-size: 50px;
    }
    .col-6, .col-4{
        width: 100%;
        margin: 0;
    }

    div.box{
        padding: 5px;
    }

    /* Style the links within the dropdown menu */
    nav ul.topnav.responsive > li:not(:first-child) a {
        display: block; /* Align text to the left */
        text-align: left;
    }
}