/*Default*/
nav, 
header, 
footer {
    display: block;
}

body {
    background-color: #2F4F4F;
    line-height: 1;
    margin: 0;
}

/*Nav Bar*/
nav {
    width: 100%;
    margin: 0;
}

nav ul {
    background-color: #36454F;
    overflow:hidden;
    margin: 0%;
    padding: 0%;
}

nav ul.topnav li {
    list-style: none;
    float: left;
}

ul.topnav li.topnav-right {
    float: right;
}

ul.topnav li a{
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: #FFFDD0;

}
ul.topnav li a:hover{
    background-color: #4682B4;
    /* color: #FFFDD0; */
}
ul.topnav li.dropdownIcon{
    display: none;
}

/* Mobile Design*/
@media screen and (max-width: 680px) {
    ul.topnav li:not(:nth-child(1)){
        display: none;
    }
}