/* Basic Reset */
nav, header, footer {
    display: block;
}

/* Body Styles */
body {
    background-color: #FFF;
    line-height: 1;
    margin: 0;
    padding-top: 50px; /* Height of the navbar */
}

/* Grid System */
.container {
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

/* Columns */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Navigation Styles */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100; /* Ensures navbar is on top */
    background-color: #36454F; /* Navbar background */
}

nav ul.topnav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

nav ul.topnav > li:first-child {
    margin-right: auto;
}

.nav-center-group {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-center-group a {
    padding: 0;
}

nav ul.topnav > li:last-child {
    margin-left: auto;
}

nav ul.topnav li {
    list-style: none;
}

nav ul.topnav li a {
    display: block;
    text-decoration: none;
    padding: 14px;
    text-align: center;
    color: #FFFDD0;
    text-transform: capitalize;
}

nav ul.topnav li a:hover {
    background-color: #4682B4;
}

ul.topnav li.dropdownIcon {
    display: none;
}

/* Responsive Design */
@media screen and (max-width: 680px) {
    nav ul.topnav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul.topnav > li:not(:first-child):not(.dropdownIcon) {
        display: none;
    }

    nav ul.topnav > li.dropdownIcon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    nav ul.topnav.responsive li a {
        margin: 0;
        display: block;
    }

    nav ul.topnav.responsive > li.dropdownIcon {
        top: 0;
        right: 0;
    }

    nav ul.topnav.responsive {
        position: relative;
    }

    nav ul.topnav.responsive > li:not(:first-child) {
        display: block; /* Show the list items */
        margin-left: 2vw;
        float: none; /* Full width */
    }

    nav ul.topnav.responsive > li:not(:first-child) a {
        display:block;
        text-align: left;
    }
}
